.App {
  text-align: center;
}

img {
  width: 80%;
  align-content: center;
}

.Container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin-top: 0.8rem;
  margin-left: 30%;
}
